@import url("twoje_fiszki.css")

.flashcard-voice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 20px;
}

.voice-option {
    background-color: #365b6d;
    color: #ffffff;
    font-family: 'Archivo Black', Arial, sans-serif;
    font-size: 36px;
    padding: 28px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    border-radius: 24px;
}

.action-button {
    background-color: #699cb5;
    color: #ffffff;
    font-family: 'Archivo Black', Arial, sans-serif;
    font-size: 28px;
    padding: 18px 28px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.2s ease;
    display: inline-block;
}

.action-button:hover {
    background-color: #5a8ba1;
    transform: scale(1.05);
}

.flashcard-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    width: 100%;
    margin-top: 10px;
}

.flashcard-buttons button {
    background-color: #699cb5;
    color: #ffffff;
    border: none;
    padding: 16px 28px;
    font-size: 24px;
    font-family: 'Archivo Black', Arial, sans-serif;
    
    border-radius: 24px;
    cursor: pointer;
    transition: 0.2s ease;
}

.flashcard-buttons button:hover {
    background-color: #5a8ba1;
    transform: scale(1.05);
}

.back-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 72px;
    height: 72px;

    background-color: #b04747;
    color: #ffffff;
    text-decoration: none;
    font-size: 44px;
    padding: 14px 28px;
    border-radius: 22px;
    
    margin-right: 40px;
    cursor: pointer;
    transition: 0.2s ease;
}

.back-button:hover {
    background-color: #b65858;
    transform: scale(1.05);
}
